
// Background
$bg-primary: #121212;
$bg-secondary: #1e1e1e;

// Font
$font-primary: #FFF;
$font-body: 1rem;
$font-header: 1.25rem; 
$font-h1: 1.5rem;

// Branding
$brand-primary: #FF6600;;
// $brand-secondary: #FFF;

