@import "./styles/main.scss";

.crm-card-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  &--name {
    font-size: $font-header;
    font-weight: 600;
    text-transform: capitalize;
  }
  &--email {
    font-size: $font-body;
    font-weight: 400;
    color: $brand-primary;
    word-break: break-word;
  }
  &--key {
    font-weight: 600;
    display: flex;
    gap: 4px;
    &__value {
      font-weight: 300;
    }
  }
}
